<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mehran Arjmand {% if title %}- {{title}}{% endif %}</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
{#   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127325400-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-127325400-1');
  </script> #}


  <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/images/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#21263A">

  <meta name="description" content="Hi, I am Mehran. I love front-end development and enjoy rock music. come and talk more...">
  <link rel="canonical" href="https://mehranarjmand.ir/">
  <meta property="og:locale" content="en_US">
  <meta property="og:locale:alternate" content="fa_IR">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Mehran Arjmand Portfolio">
  <meta property="og:description" content="Hi, I am Mehran. I love front-end development and enjoy rock music. come and talk more...">
  <meta property="og:url" content="https://mehranarjmand.ir/">
  <meta property="og:site_name" content="Mehran Arjmand Portfolio">
  <meta property="og:image" content="https://mehranarjmand.ir/assets/images/back.jpg">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:description" content="Hi, I am Mehran. I love front-end development and enjoy rock music. come and talk more...">
  <meta name="twitter:title" content="Mehran Arjmand Portfolio">
  <meta name="twitter:image" content="https://mehranarjmand.ir/assets/images/back.jpg">
  <meta name="twitter:creator" content="@mehranarji">

  <!-- build:css assets/styles/style.min.css -->
  <link rel="stylesheet" href="{{'assets/styles/style.css'|v}}">
  <!-- endbuild -->

  {% endblock %}
</head>

{% block body %}{% endblock %}

</html>
