{% extends "base.twig" %}

{% block body %}
<body class="home">

  <div class="overlay">
    <div class="overlay-layer"></div>
    <div class="overlay-layer"></div>
    <div class="overlay-layer">
      <p class="loading">loading</p>
    </div>
  </div>

  <h1 class="sr-only"> Hi, I am Mehran. I love front-end development and enjoy rock music. come and talk more... </h1>

  <div class="container">
    <h2 class="main-title">Mehran Arjmand</h2>
    <ul class="socials">
      <li><a href="mailto:mehranarji@gmail.com" target="_blank"><i class="icon icon-gmail"></i><span>E-Mail</span></a></li>
      <li><a href="https://t.me/MehranArji" target="_blank"><i class="icon icon-telegram"></i><span>telegram</span></a></li>
      <li><a href="https://twitter.com/MehranArji" target="_blank"><i class="icon icon-twitter"></i><span>twitter</span></a></li>
      <li><a href="https://www.facebook.com/mehran.arjmand.33" target="_blank"><i class="icon icon-facebook"></i><span>facebook</span></a></li>
      <li><a href="https://github.com/MehranArji" target="_blank"><i class="icon icon-github"></i><span>github</span></a></li>
      <li><a href="http://gitlab.com/mehranarji/" target="_blank"><i class="icon icon-gitlab"></i><span>gitlab</span></a></li>
      <!-- <li><a href="" target="_blank"><i class="icon icon-discord"></i><span>discord</span></a></li> -->
      <li><a href="http://www.last.fm/user/MehranArji" target="_blank"><i class="icon icon-last-dot-fm"></i><span>lastfm</span></a></li>
    </ul>
  </div>


  <!-- build:js assets/scripts/app.min.js -->
  <script src="assets/components/jquery/dist/jquery.min.js"></script>
  <script src="assets/components/animejs/anime.min.js"></script>
  <script src="assets/components/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/scripts/app.js"></script>
  <!-- endbuild -->

</body>
{% endblock %}