{% extends "base.twig" %}

{% block body %}
<body class="landing-review">

  <div class="container">
    <div class="review-container">
      <h1>Write Some Review About Me.</h1>

      <form action="" method="POST" enctype="multipart/form-data">
        <div class="avatar">
          <img src="http://placehold.it/300x300?text=say+hi" alt="">
          <div class="upload-btn">
            <p>Add Some Image</p>
          </div>
        </div>

        <input type="text" name="name" placeholder="Your Name">
        <textarea name="message" rows="5" placeholder="Feel Free & Write Something"></textarea>

        <div class="rating">
          <p>How much do you appreciate me</p>
          <label for="rd-rate-1"></label>
          <input type="radio" name="rate" id="rd-rate-1" value="1" checked>
          <label for="rd-rate-2"></label>
          <input type="radio" name="rate" id="rd-rate-2" value="2">
          <label for="rd-rate-3"></label>
          <input type="radio" name="rate" id="rd-rate-3" value="3">
          <label for="rd-rate-4"></label>
          <input type="radio" name="rate" id="rd-rate-4" value="4">
          <label for="rd-rate-5"></label>
          <input type="radio" name="rate" id="rd-rate-5" value="5">
        </div>

        <div class="text-right">
          <button type="submit" class="btn btn-success">Done</button>
        </div>
      </form>
    </div>
  </div>
  
  <!-- build:js assets/scripts/review.min.js -->
  <script src="assets/components/jquery/dist/jquery.min.js"></script>
  <script src="assets/components/animejs/anime.min.js"></script>
  <script src="assets/components/moment/min/moment.min.js"></script>
  <script src="assets/components/fine-uploader/dist/fine-uploader.core.min.js"></script>
  <script src="assets/scripts/review.js"></script>
  <!-- endbuild -->
</body>
{% endblock %}