{% extends "base.twig" %}
{% block body %}
  <body class="landing-soldiership d-flex justify-content-center flex-column">
    <div id="particles"></div>
    
    <div class="container text-center d-none">
      <p class="remain-days"></p>
      <p class="desc">Days Remain</p>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <p class="footnote">Till End of Soldiership</p>
    </div>

    <!-- build:js assets/scripts/soldiership.min.js -->
    <script src="assets/components/jquery/dist/jquery.min.js"></script>
    <script src="assets/components/animejs/anime.min.js"></script>
    <script src="assets/components/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="assets/components/moment/min/moment.min.js"></script>
    <script src="assets/components/particles.js/particles.min.js"></script>
    <script src="assets/scripts/soldiership.js"></script>
    <!-- endbuild -->
  </body>
{% endblock %}