@font-face {
  font-family: 'brands';
  src:  url('../fonts/brands.eot?q372r0');
  src:  url('../fonts/brands.eot?q372r0#iefix') format('embedded-opentype'),
    url('../fonts/brands.ttf?q372r0') format('truetype'),
    url('../fonts/brands.woff?q372r0') format('woff'),
    url('../fonts/brands.svg?q372r0#brands') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'brands' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plangrid:before {
  content: "\e900";
  color: #0085de;
}
.icon-bootstrap:before {
  content: "\e901";
  color: #563d7c;
}
.icon-medium:before {
  content: "\e902";
}
.icon-origin:before {
  content: "\e903";
  color: #f56c2d;
}
.icon-rollup-dot-js:before {
  content: "\e904";
  color: #ec4a3f;
}
.icon-statamic:before {
  content: "\e905";
}
.icon-codewars:before {
  content: "\e906";
  color: #ad2c27;
}
.icon-wii:before {
  content: "\e907";
  color: #8b8b8b;
}
.icon-ghost:before {
  content: "\e908";
  color: #738a94;
}
.icon-aventrix:before {
  content: "\e909";
  color: #09d;
}
.icon-vue-dot-js:before {
  content: "\e90a";
  color: #4fc08d;
}
.icon-adobeillustrator:before {
  content: "\e90b";
  color: #ff7c00;
}
.icon-plex:before {
  content: "\e90c";
  color: #e5a00d;
}
.icon-imdb:before {
  content: "\e90d";
  color: #e6b91e;
}
.icon-applepay:before {
  content: "\e90e";
}
.icon-steam:before {
  content: "\e90f";
}
.icon-toptal:before {
  content: "\e910";
  color: #3863a0;
}
.icon-gnusocial:before {
  content: "\e911";
  color: #a22430;
}
.icon-tumblr:before {
  content: "\e912";
  color: #36465d;
}
.icon-pingup:before {
  content: "\e913";
  color: #00b1ab;
}
.icon-csswizardry:before {
  content: "\e914";
  color: #f43059;
}
.icon-ovh:before {
  content: "\e915";
  color: #123f6d;
}
.icon-coffeescript:before {
  content: "\e916";
}
.icon-virb:before {
  content: "\e917";
  color: #0093da;
}
.icon-tripadvisor:before {
  content: "\e918";
  color: #00af87;
}
.icon-sourceforge:before {
  content: "\e919";
  color: #535353;
}
.icon-bandcamp:before {
  content: "\e91a";
  color: #408294;
}
.icon-wattpad:before {
  content: "\e91b";
  color: #f68d12;
}
.icon-strava:before {
  content: "\e91c";
  color: #fc4c02;
}
.icon-dropbox:before {
  content: "\e91d";
  color: #0061ff;
}
.icon-tesla:before {
  content: "\e91e";
  color: #c00;
}
.icon-processwire:before {
  content: "\e91f";
  color: #ef145f;
}
.icon-microsoft:before {
  content: "\e920";
  color: #666;
}
.icon-protonmail:before {
  content: "\e921";
  color: #8b89cc;
}
.icon-squarespace:before {
  content: "\e922";
}
.icon-wheniwork:before {
  content: "\e923";
  color: #51a33d;
}
.icon-webpack:before {
  content: "\e924";
  color: #8dd6f9;
}
.icon-bigcartel:before {
  content: "\e925";
}
.icon-microsoftword:before {
  content: "\e926";
  color: #2b579a;
}
.icon-javascript:before {
  content: "\e927";
  color: #f7df1e;
}
.icon-samsung:before {
  content: "\e928";
  color: #1428a0;
}
.icon-yelp:before {
  content: "\e929";
  color: #d32323;
}
.icon-cloudflare:before {
  content: "\e92a";
  color: #f38020;
}
.icon-deviantart:before {
  content: "\e92b";
  color: #05cc47;
}
.icon-verizon:before {
  content: "\e92c";
  color: #cd040b;
}
.icon-googlekeep:before {
  content: "\e92d";
  color: #fb0;
}
.icon-tails:before {
  content: "\e92e";
  color: #56347c;
}
.icon-pingdom:before {
  content: "\e92f";
  color: #fff000;
}
.icon-hexo:before {
  content: "\e930";
  color: #0e83cd;
}
.icon-airbnb:before {
  content: "\e931";
  color: #ff5a5f;
}
.icon-linux:before {
  content: "\e932";
  color: #fcc624;
}
.icon-foursquare:before {
  content: "\e933";
  color: #f94877;
}
.icon-linewebtoon:before {
  content: "\e934";
  color: #00d564;
}
.icon-drupal:before {
  content: "\e935";
  color: #0678be;
}
.icon-sega:before {
  content: "\e936";
  color: #0089cf;
}
.icon-gmail:before {
  content: "\e937";
  color: #d14836;
}
.icon-android:before {
  content: "\e938";
  color: #a4c639;
}
.icon-adobe:before {
  content: "\e939";
  color: #f00;
}
.icon-ethereum:before {
  content: "\e93a";
}
.icon-odnoklassniki:before {
  content: "\e93b";
  color: #f4731c;
}
.icon-khanacademy:before {
  content: "\e93c";
  color: #9db63b;
}
.icon-microsoftexcel:before {
  content: "\e93d";
  color: #217346;
}
.icon-tinder:before {
  content: "\e93e";
  color: #ff6b6b;
}
.icon-geocaching:before {
  content: "\e93f";
  color: #00874d;
}
.icon-gitlab:before {
  content: "\e940";
  color: #e24329;
}
.icon-koding:before {
  content: "\e941";
  color: #00b057;
}
.icon-addthis:before {
  content: "\e942";
  color: #ff6550;
}
.icon-visa:before {
  content: "\e943";
  color: #142787;
}
.icon-moo:before {
  content: "\e944";
  color: #00945e;
}
.icon-sass:before {
  content: "\e945";
  color: #c69;
}
.icon-rust:before {
  content: "\e946";
}
.icon-nintendo:before {
  content: "\e947";
  color: #8f8f8f;
}
.icon-furrynetwork:before {
  content: "\e948";
  color: #2e75b4;
}
.icon-firebase:before {
  content: "\e949";
  color: #ffca28;
}
.icon-java:before {
  content: "\e94a";
  color: #007396;
}
.icon-viber:before {
  content: "\e94b";
  color: #665cac;
}
.icon-quantcast:before {
  content: "\e94c";
}
.icon-ello:before {
  content: "\e94d";
}
.icon-wix:before {
  content: "\e94e";
  color: #faad4d;
}
.icon-macys:before {
  content: "\e94f";
  color: #e21a2c;
}
.icon-bitbucket:before {
  content: "\e950";
  color: #0052cc;
}
.icon-twoo:before {
  content: "\e951";
  color: #ff7102;
}
.icon-simpleicons:before {
  content: "\e952";
}
.icon-github:before {
  content: "\e953";
}
.icon-haskell:before {
  content: "\e954";
  color: #5d4f85;
}
.icon-jquery:before {
  content: "\e955";
  color: #0769ad;
}
.icon-node-dot-js:before {
  content: "\e956";
  color: #393;
}
.icon-tapas:before {
  content: "\e957";
  color: #ffce00;
}
.icon-feedly:before {
  content: "\e958";
  color: #2bb24c;
}
.icon-americanexpress:before {
  content: "\e959";
  color: #2e77bc;
}
.icon-everplaces:before {
  content: "\e95a";
  color: #fa4b32;
}
.icon-feathub:before {
  content: "\e95b";
  color: #9b9b9b;
}
.icon-etsy:before {
  content: "\e95c";
  color: #f16521;
}
.icon-hatenabookmark:before {
  content: "\e95d";
  color: #00a4de;
}
.icon-gov-dot-uk:before {
  content: "\e95e";
  color: #005ea5;
}
.icon-microsoftonedrive:before {
  content: "\e95f";
  color: #094ab2;
}
.icon-px:before {
  content: "\e960";
  color: #0099e5;
}
.icon-myspace:before {
  content: "\e961";
}
.icon-homify:before {
  content: "\e962";
  color: #7dcda3;
}
.icon-netlify:before {
  content: "\e963";
  color: #00c7b7;
}
.icon-nintendoswitch:before {
  content: "\e964";
  color: #e60012;
}
.icon-sitepoint:before {
  content: "\e965";
  color: #258aaf;
}
.icon-sparkpost:before {
  content: "\e966";
  color: #fa6423;
}
.icon-spreaker:before {
  content: "\e967";
  color: #f5c300;
}
.icon-keybase:before {
  content: "\e968";
  color: #33a0ff;
}
.icon-umbraco:before {
  content: "\e969";
  color: #00bec1;
}
.icon-joomla:before {
  content: "\e96a";
  color: #5091cd;
}
.icon-udacity:before {
  content: "\e96b";
  color: #01b3e3;
}
.icon-vsco:before {
  content: "\e96c";
}
.icon-microsoftpowerpoint:before {
  content: "\e96d";
  color: #d24726;
}
.icon-kaggle:before {
  content: "\e96e";
  color: #20beff;
}
.icon-clockify:before {
  content: "\e96f";
  color: #03a9f4;
}
.icon-signal:before {
  content: "\e970";
  color: #2592e9;
}
.icon-kirby:before {
  content: "\e971";
  color: #ff0100;
}
.icon-wikipedia:before {
  content: "\e972";
}
.icon-gnu:before {
  content: "\e973";
  color: #a42e2b;
}
.icon-nextcloud:before {
  content: "\e974";
  color: #0082c9;
}
.icon-npm:before {
  content: "\e975";
  color: #cb3837;
}
.icon-internetexplorer:before {
  content: "\e976";
  color: #0076d6;
}
.icon-sentry:before {
  content: "\e977";
  color: #fb4226;
}
.icon-dell:before {
  content: "\e978";
  color: #007db8;
}
.icon-sprint:before {
  content: "\e979";
  color: #ffce0a;
}
.icon-zapier:before {
  content: "\e97a";
  color: #ff4a00;
}
.icon-xero:before {
  content: "\e97b";
  color: #13b5ea;
}
.icon-gatsby:before {
  content: "\e97c";
  color: #639;
}
.icon-ycombinator:before {
  content: "\e97d";
  color: #f0652f;
}
.icon-about-dot-me:before {
  content: "\e97e";
  color: #00a98f;
}
.icon-boost:before {
  content: "\e97f";
  color: #f69220;
}
.icon-mastodon:before {
  content: "\e980";
  color: #3088d4;
}
.icon-letterboxd:before {
  content: "\e981";
  color: #00d735;
}
.icon-fitbit:before {
  content: "\e982";
  color: #00b0b9;
}
.icon-angular:before {
  content: "\e983";
  color: #dd0031;
}
.icon-untappd:before {
  content: "\e984";
  color: #ffc000;
}
.icon-vk:before {
  content: "\e985";
  color: #6383a8;
}
.icon-vimeo:before {
  content: "\e986";
  color: #1ab7ea;
}
.icon-discourse:before {
  content: "\e987";
}
.icon-wiiu:before {
  content: "\e988";
  color: #8b8b8b;
}
.icon-eventbrite:before {
  content: "\e989";
  color: #f6682f;
}
.icon-symfony:before {
  content: "\e98a";
}
.icon-gumroad:before {
  content: "\e98b";
  color: #36a9ae;
}
.icon-tencentqq:before {
  content: "\e98c";
  color: #12b7f5;
}
.icon-castorama:before {
  content: "\e98d";
  color: #0078d7;
}
.icon-mozilla:before {
  content: "\e98e";
}
.icon-fnac:before {
  content: "\e98f";
  color: #e1a925;
}
.icon-buzzfeed:before {
  content: "\e990";
  color: #e32;
}
.icon-prismic:before {
  content: "\e991";
  color: #484a7a;
}
.icon-instagram:before {
  content: "\e992";
  color: #e4405f;
}
.icon-xsplit:before {
  content: "\e993";
  color: #0095de;
}
.icon-json:before {
  content: "\e994";
}
.icon-shopify:before {
  content: "\e995";
  color: #7ab55c;
}
.icon-oculus:before {
  content: "\e996";
}
.icon-podcasts:before {
  content: "\e997";
  color: #93c;
}
.icon-ruby:before {
  content: "\e998";
  color: #cc342d;
}
.icon-googlehangouts:before {
  content: "\e999";
  color: #0c9d58;
}
.icon-yammer:before {
  content: "\e99a";
  color: #0072c6;
}
.icon-instacart:before {
  content: "\e99b";
  color: #43b02a;
}
.icon-safari:before {
  content: "\e99c";
}
.icon-nucleo:before {
  content: "\e99d";
  color: #766dcc;
}
.icon-sinaweibo:before {
  content: "\e99e";
  color: #e6162d;
}
.icon-songkick:before {
  content: "\e99f";
  color: #f80046;
}
.icon-trakt:before {
  content: "\e9a0";
  color: #ed1c24;
}
.icon-python:before {
  content: "\e9a1";
  color: #3776ab;
}
.icon-jekyll:before {
  content: "\e9a2";
  color: #c00;
}
.icon-pocket:before {
  content: "\e9a3";
  color: #ef3f56;
}
.icon-heroku:before {
  content: "\e9a4";
  color: #430098;
}
.icon-treehouse:before {
  content: "\e9a5";
  color: #5fcf80;
}
.icon-docker:before {
  content: "\e9a6";
  color: #1488c6;
}
.icon-git:before {
  content: "\e9a7";
  color: #f05032;
}
.icon-blogger:before {
  content: "\e9a8";
  color: #ff5722;
}
.icon-hulu:before {
  content: "\e9a9";
  color: #3dbb3d;
}
.icon-cakephp:before {
  content: "\e9aa";
  color: #d33c43;
}
.icon-riseup:before {
  content: "\e9ab";
  color: #5e9ee3;
}
.icon-sap:before {
  content: "\e9ac";
  color: #008fd3;
}
.icon-discover:before {
  content: "\e9ad";
  color: #ff6000;
}
.icon-monkeytie:before {
  content: "\e9ae";
  color: #ffc619;
}
.icon-mailchimp:before {
  content: "\e9af";
  color: #239ab9;
}
.icon-mediatemple:before {
  content: "\e9b0";
}
.icon-raspberrypi:before {
  content: "\e9b1";
  color: #c51a4a;
}
.icon-digg:before {
  content: "\e9b2";
}
.icon-envato:before {
  content: "\e9b3";
  color: #81b441;
}
.icon-nvidia:before {
  content: "\e9b4";
  color: #76b900;
}
.icon-iconjar:before {
  content: "\e9b5";
  color: #16a5f3;
}
.icon-last-dot-fm:before {
  content: "\e9b6";
  color: #d51007;
}
.icon-bitcoin:before {
  content: "\e9b7";
  color: #f7931a;
}
.icon-delicious:before {
  content: "\e9b8";
  color: #39f;
}
.icon-zillow:before {
  content: "\e9b9";
  color: #0074e4;
}
.icon-codeforces:before {
  content: "\e9ba";
  color: #1f8acb;
}
.icon-xcode:before {
  content: "\e9bb";
  color: #1575f9;
}
.icon-saucelabs:before {
  content: "\e9bc";
  color: #e2231a;
}
.icon-adobetypekit:before {
  content: "\e9bd";
  color: #87ec00;
}
.icon-hackerrank:before {
  content: "\e9be";
  color: #2ec866;
}
.icon-disqus:before {
  content: "\e9bf";
  color: #2e9fff;
}
.icon-subversion:before {
  content: "\e9c0";
  color: #809cc9;
}
.icon-telegram:before {
  content: "\e9c1";
  color: #2ca5e0;
}
.icon-kik:before {
  content: "\e9c2";
  color: #82bc23;
}
.icon-humblebundle:before {
  content: "\e9c3";
  color: #cc2929;
}
.icon-salesforce:before {
  content: "\e9c4";
  color: #00a1e0;
}
.icon-meetup:before {
  content: "\e9c5";
  color: #ed1c40;
}
.icon-vim:before {
  content: "\e9c6";
  color: #019733;
}
.icon-goodreads:before {
  content: "\e9c7";
  color: #630;
}
.icon-styleshare:before {
  content: "\e9c8";
}
.icon-sellfy:before {
  content: "\e9c9";
  color: #21b352;
}
.icon-invision:before {
  content: "\e9ca";
  color: #f36;
}
.icon-archlinux:before {
  content: "\e9cb";
  color: #1793d1;
}
.icon-mix:before {
  content: "\e9cc";
  color: #ff8126;
}
.icon-slides:before {
  content: "\e9cd";
  color: #e4637c;
}
.icon-asana:before {
  content: "\e9ce";
}
.icon-wpengine:before {
  content: "\e9cf";
  color: #40bac8;
}
.icon-garmin:before {
  content: "\e9d0";
  color: #007cc3;
}
.icon-zendesk:before {
  content: "\e9d1";
}
.icon-magento:before {
  content: "\e9d2";
  color: #ee672f;
}
.icon-houzz:before {
  content: "\e9d3";
  color: #7ac142;
}
.icon-freecodecamp:before {
  content: "\e9d4";
  color: #006400;
}
.icon-inkscape:before {
  content: "\e9d5";
}
.icon-googleplay:before {
  content: "\e9d6";
  color: #607d8b;
}
.icon-lua:before {
  content: "\e9d7";
  color: #2c2d72;
}
.icon-aurelia:before {
  content: "\e9d8";
  color: #ed2b88;
}
.icon-toggl:before {
  content: "\e9d9";
  color: #e01b22;
}
.icon-gerrit:before {
  content: "\e9da";
  color: #eee;
}
.icon-rss:before {
  content: "\e9db";
  color: #ffa500;
}
.icon-codecademy:before {
  content: "\e9dc";
  color: #1f4056;
}
.icon-jira:before {
  content: "\e9dd";
}
.icon-spotify:before {
  content: "\e9de";
  color: #1ed760;
}
.icon-intercom:before {
  content: "\e9df";
  color: #1f8ded;
}
.icon-microgenetics:before {
  content: "\e9e0";
  color: #f00;
}
.icon-flipboard:before {
  content: "\e9e1";
  color: #e12828;
}
.icon-t-mobile:before {
  content: "\e9e2";
  color: #e20074;
}
.icon-superuser:before {
  content: "\e9e3";
  color: #2eace3;
}
.icon-teespring:before {
  content: "\e9e4";
  color: #39ace6;
}
.icon-runkeeper:before {
  content: "\e9e5";
  color: #2dc9d7;
}
.icon-roots:before {
  content: "\e9e6";
  color: #525ddc;
}
.icon-sogou:before {
  content: "\e9e7";
  color: #fb6022;
}
.icon-campaignmonitor:before {
  content: "\e9e8";
  color: #509cf6;
}
.icon-playstation4:before {
  content: "\e9e9";
  color: #003791;
}
.icon-periscope:before {
  content: "\e9ea";
  color: #40a4c4;
}
.icon-disroot:before {
  content: "\e9eb";
  color: #50162d;
}
.icon-kickstarter:before {
  content: "\e9ec";
  color: #2bde73;
}
.icon-snapchat:before {
  content: "\e9ed";
  color: #fffc00;
}
.icon-qualcomm:before {
  content: "\e9ee";
  color: #3253dc;
}
.icon-nintendogamecube:before {
  content: "\e9ef";
  color: #6a5fbb;
}
.icon-wolframmathematica:before {
  content: "\e9f0";
  color: #d10;
}
.icon-bing:before {
  content: "\e9f1";
  color: #008373;
}
.icon-html5:before {
  content: "\e9f2";
  color: #e34f26;
}
.icon-nextdoor:before {
  content: "\e9f3";
  color: #00b246;
}
.icon-dev-dot-to:before {
  content: "\e9f4";
}
.icon-quora:before {
  content: "\e9f5";
  color: #b92b27;
}
.icon-monero:before {
  content: "\e9f6";
  color: #f60;
}
.icon-ifixit:before {
  content: "\e9f7";
  color: #0071ce;
}
.icon-fandango:before {
  content: "\e9f8";
  color: #ff7300;
}
.icon-laravel:before {
  content: "\e9f9";
  color: #e74430;
}
.icon-twilio:before {
  content: "\e9fa";
  color: #f22f46;
}
.icon-googledrive:before {
  content: "\e9fb";
  color: #4386fc;
}
.icon-draugiem-dot-lv:before {
  content: "\e9fc";
  color: #f60;
}
.icon-spotlight:before {
  content: "\e9fd";
  color: #352a71;
}
.icon-overcast:before {
  content: "\e9fe";
  color: #fc7e0f;
}
.icon-googleplus:before {
  content: "\e9ff";
  color: #dc4e41;
}
.icon-monogram:before {
  content: "\ea00";
  color: #fdb22a;
}
.icon-pagekit:before {
  content: "\ea01";
}
.icon-mongodb:before {
  content: "\ea02";
  color: #47a248;
}
.icon-microsoftaccess:before {
  content: "\ea03";
  color: #ba141a;
}
.icon-ubuntu:before {
  content: "\ea04";
  color: #e95420;
}
.icon-steem:before {
  content: "\ea05";
  color: #4ba2f2;
}
.icon-paypal:before {
  content: "\ea06";
  color: #00457c;
}
.icon-deezer:before {
  content: "\ea07";
  color: #00c7f2;
}
.icon-qiita:before {
  content: "\ea08";
  color: #55c500;
}
.icon-at-and-t:before {
  content: "\ea09";
  color: #00a8e0;
}
.icon-empirekred:before {
  content: "\ea0a";
  color: #72be50;
}
.icon-proto-dot-io:before {
  content: "\ea0b";
  color: #34a7c1;
}
.icon-hockeyapp:before {
  content: "\ea0c";
  color: #009ee1;
}
.icon-unsplash:before {
  content: "\ea0d";
}
.icon-gravatar:before {
  content: "\ea0e";
  color: #1e8cbe;
}
.icon-playstation:before {
  content: "\ea0f";
  color: #003791;
}
.icon-codio:before {
  content: "\ea10";
  color: #4574e0;
}
.icon-wolfram:before {
  content: "\ea11";
  color: #d10;
}
.icon-facebook:before {
  content: "\ea12";
  color: #3b5998;
}
.icon-microsoftonenote:before {
  content: "\ea13";
  color: #80397b;
}
.icon-amazon:before {
  content: "\ea14";
  color: #f90;
}
.icon-vine:before {
  content: "\ea15";
  color: #11b48a;
}
.icon-stackexchange:before {
  content: "\ea16";
  color: #1e5397;
}
.icon-eslint:before {
  content: "\ea17";
  color: #4b32c3;
}
.icon-pinterest:before {
  content: "\ea18";
  color: #bd081c;
}
.icon-mastercard:before {
  content: "\ea19";
  color: #eb001b;
}
.icon-blender:before {
  content: "\ea1a";
  color: #f5792a;
}
.icon-slickpic:before {
  content: "\ea1b";
  color: #ff880f;
}
.icon-webstorm:before {
  content: "\ea1c";
  color: #00cdd7;
}
.icon-minutemailer:before {
  content: "\ea1d";
  color: #3abfe6;
}
.icon-travisci:before {
  content: "\ea1e";
  color: #39a85b;
}
.icon-wechat:before {
  content: "\ea1f";
  color: #7bb32e;
}
.icon-topcoder:before {
  content: "\ea20";
  color: #29a8e0;
}
.icon-yandex:before {
  content: "\ea21";
  color: #f00;
}
.icon-ted:before {
  content: "\ea22";
  color: #e62b1e;
}
.icon-instapaper:before {
  content: "\ea23";
}
.icon-pluralsight:before {
  content: "\ea24";
  color: #f15b2a;
}
.icon-stylus:before {
  content: "\ea25";
}
.icon-whatsapp:before {
  content: "\ea26";
  color: #25d366;
}
.icon-google:before {
  content: "\ea27";
  color: #4285f4;
}
.icon-line:before {
  content: "\ea28";
  color: #00c300;
}
.icon-livejournal:before {
  content: "\ea29";
  color: #00b0ea;
}
.icon-atlassian:before {
  content: "\ea2a";
  color: #0052cc;
}
.icon-eventstore:before {
  content: "\ea2b";
  color: #5ab552;
}
.icon-qzone:before {
  content: "\ea2c";
  color: #fece00;
}
.icon-php:before {
  content: "\ea2d";
  color: #777bb4;
}
.icon-mozillafirefox:before {
  content: "\ea2e";
  color: #ff9400;
}
.icon-stripe:before {
  content: "\ea2f";
  color: #008cdd;
}
.icon-wolframlanguage:before {
  content: "\ea30";
  color: #d10;
}
.icon-artstation:before {
  content: "\ea31";
  color: #13aff0;
}
.icon-stackoverflow:before {
  content: "\ea32";
  color: #fe7a16;
}
.icon-gumtree:before {
  content: "\ea33";
  color: #72ef36;
}
.icon-playstation3:before {
  content: "\ea34";
  color: #003791;
}
.icon-brand-dot-ai:before {
  content: "\ea35";
  color: #0aa0ff;
}
.icon-scribd:before {
  content: "\ea36";
  color: #1a7bba;
}
.icon-googleallo:before {
  content: "\ea37";
  color: #ecb842;
}
.icon-bower:before {
  content: "\ea38";
  color: #ef5734;
}
.icon-vagrant:before {
  content: "\ea39";
  color: #1563ff;
}
.icon-co-op:before {
  content: "\ea3a";
  color: #00b1e7;
}
.icon-jenkins:before {
  content: "\ea3b";
  color: #d24939;
}
.icon-automatic:before {
  content: "\ea3c";
  color: #7d8084;
}
.icon-gauges:before {
  content: "\ea3d";
  color: #2fa66a;
}
.icon-matternet:before {
  content: "\ea3e";
}
.icon-plurk:before {
  content: "\ea3f";
  color: #ff574d;
}
.icon-themighty:before {
  content: "\ea40";
  color: #d0072a;
}
.icon-designernews:before {
  content: "\ea41";
  color: #2d72d9;
}
.icon-xing:before {
  content: "\ea42";
  color: #006567;
}
.icon-adobeindesign:before {
  content: "\ea43";
  color: #fd3f93;
}
.icon-microsoftoutlook:before {
  content: "\ea44";
  color: #0072c6;
}
.icon-adobedreamweaver:before {
  content: "\ea45";
  color: #35fa00;
}
.icon-auth0:before {
  content: "\ea46";
  color: #eb5424;
}
.icon-slashdot:before {
  content: "\ea47";
  color: #026664;
}
.icon-goldenline:before {
  content: "\ea48";
  color: #f1b92b;
}
.icon-redux:before {
  content: "\ea49";
  color: #764abc;
}
.icon-pinboard:before {
  content: "\ea4a";
  color: #00f;
}
.icon-redbubble:before {
  content: "\ea4b";
  color: #e41321;
}
.icon-zerply:before {
  content: "\ea4c";
  color: #9dbc7a;
}
.icon-twitch:before {
  content: "\ea4d";
  color: #6441a4;
}
.icon-lanyrd:before {
  content: "\ea4e";
  color: #3c80ca;
}
.icon-windows:before {
  content: "\ea4f";
  color: #0078d6;
}
.icon-basecamp:before {
  content: "\ea50";
  color: #5ecc62;
}
.icon-mail-dot-ru:before {
  content: "\ea51";
  color: #168de2;
}
.icon-groupon:before {
  content: "\ea52";
  color: #53a318;
}
.icon-youtube:before {
  content: "\ea53";
  color: #f00;
}
.icon-rails:before {
  content: "\ea54";
  color: #c00;
}
.icon-justgiving:before {
  content: "\ea55";
  color: #ad29b6;
}
.icon-wire:before {
  content: "\ea56";
}
.icon-meteor:before {
  content: "\ea57";
  color: #de4f4f;
}
.icon-readthedocs:before {
  content: "\ea58";
  color: #8ca1af;
}
.icon-googleanalytics:before {
  content: "\ea59";
  color: #ffc107;
}
.icon-jsfiddle:before {
  content: "\ea5a";
  color: #4679a4;
}
.icon-d3-dot-js:before {
  content: "\ea5b";
  color: #f9a03c;
}
.icon-nodemon:before {
  content: "\ea5c";
  color: #76d04b;
}
.icon-serverfault:before {
  content: "\ea5d";
  color: #e7282d;
}
.icon-yahoo:before {
  content: "\ea5e";
  color: #409;
}
.icon-grav:before {
  content: "\ea5f";
}
.icon-hackster:before {
  content: "\ea60";
  color: #1bacf7;
}
.icon-producthunt:before {
  content: "\ea61";
  color: #da552f;
}
.icon-uber:before {
  content: "\ea62";
}
.icon-gulp:before {
  content: "\ea63";
  color: #da4648;
}
.icon-adobephotoshop:before {
  content: "\ea64";
  color: #00c8ff;
}
.icon-keycdn:before {
  content: "\ea65";
  color: #3686be;
}
.icon-diaspora:before {
  content: "\ea66";
}
.icon-reddit:before {
  content: "\ea67";
  color: #ff4500;
}
.icon-angellist:before {
  content: "\ea68";
}
.icon-codeigniter:before {
  content: "\ea69";
  color: #ee4623;
}
.icon-stitcher:before {
  content: "\ea6a";
}
.icon-icq:before {
  content: "\ea6b";
  color: #7ebd00;
}
.icon-microsoftedge:before {
  content: "\ea6c";
  color: #0078d7;
}
.icon-highly:before {
  content: "\ea6d";
  color: #ff3c00;
}
.icon-intel:before {
  content: "\ea6e";
  color: #0071c5;
}
.icon-evernote:before {
  content: "\ea6f";
  color: #00a82d;
}
.icon-codepen:before {
  content: "\ea70";
}
.icon-dribbble:before {
  content: "\ea71";
  color: #ea4c89;
}
.icon-adobeaftereffects:before {
  content: "\ea72";
  color: #d291ff;
}
.icon-xbox:before {
  content: "\ea73";
  color: #107c10;
}
.icon-trello:before {
  content: "\ea74";
  color: #0079bf;
}
.icon-archiveofourown:before {
  content: "\ea75";
  color: #900;
}
.icon-swarm:before {
  content: "\ea76";
  color: #ffa633;
}
.icon-amd:before {
  content: "\ea77";
  color: #ed1c24;
}
.icon-known:before {
  content: "\ea78";
}
.icon-redis:before {
  content: "\ea79";
  color: #d82c20;
}
.icon-player-dot-me:before {
  content: "\ea7a";
  color: #c0379a;
}
.icon-acm:before {
  content: "\ea7b";
  color: #0085ca;
}
.icon-linkedin:before {
  content: "\ea7c";
  color: #0077b5;
}
.icon-googlechrome:before {
  content: "\ea7d";
  color: #4285f4;
}
.icon-uikit:before {
  content: "\ea7e";
  color: #2396f3;
}
.icon-react:before {
  content: "\ea7f";
  color: #61dafb;
}
.icon-ko-fi:before {
  content: "\ea80";
  color: #f16061;
}
.icon-twitter:before {
  content: "\ea81";
  color: #1da1f2;
}
.icon-livestream:before {
  content: "\ea82";
  color: #cf202e;
}
.icon-dailymotion:before {
  content: "\ea83";
  color: #0066dc;
}
.icon-bitly:before {
  content: "\ea84";
  color: #ee6123;
}
.icon-quantopian:before {
  content: "\ea85";
  color: #c50000;
}
.icon-devrant:before {
  content: "\ea86";
  color: #f99a66;
}
.icon-graphcool:before {
  content: "\ea87";
  color: #27ae60;
}
.icon-patreon:before {
  content: "\ea88";
  color: #f96854;
}
.icon-coderwall:before {
  content: "\ea89";
  color: #3e8dcc;
}
.icon-stubhub:before {
  content: "\ea8a";
  color: #003168;
}
.icon-hipchat:before {
  content: "\ea8b";
  color: #0052cc;
}
.icon-klout:before {
  content: "\ea8c";
  color: #e44600;
}
.icon-swift:before {
  content: "\ea8d";
  color: #fa7343;
}
.icon-linuxfoundation:before {
  content: "\ea8e";
  color: #009bee;
}
.icon-discord:before {
  content: "\ea8f";
  color: #7289da;
}
.icon-dtube:before {
  content: "\ea90";
  color: #f00;
}
.icon-opera:before {
  content: "\ea91";
  color: #ff1b2d;
}
.icon-gitter:before {
  content: "\ea92";
  color: #ed1965;
}
.icon-buffer:before {
  content: "\ea93";
  color: #168eea;
}
.icon-css3:before {
  content: "\ea94";
  color: #1572b6;
}
.icon-renren:before {
  content: "\ea95";
  color: #217dc6;
}
.icon-picarto-dot-tv:before {
  content: "\ea96";
  color: #1da456;
}
.icon-speakerdeck:before {
  content: "\ea97";
  color: #396;
}
.icon-adobelightroom:before {
  content: "\ea98";
  color: #add5ec;
}
.icon-framer:before {
  content: "\ea99";
  color: #05f;
}
.icon-debian:before {
  content: "\ea9a";
  color: #a81d33;
}
.icon-mixcloud:before {
  content: "\ea9b";
  color: #314359;
}
.icon-slack:before {
  content: "\ea9c";
  color: #56b68b;
}
.icon-soundcloud:before {
  content: "\ea9d";
  color: #f30;
}
.icon-skyliner:before {
  content: "\ea9e";
  color: #2fcea0;
}
.icon-messenger:before {
  content: "\ea9f";
  color: #0084ff;
}
.icon-trulia:before {
  content: "\eaa0";
  color: #53b50a;
}
.icon-hootsuite:before {
  content: "\eaa1";
}
.icon-django:before {
  content: "\eaa2";
}
.icon-mysql:before {
  content: "\eaa3";
  color: #4479a1;
}
.icon-shazam:before {
  content: "\eaa4";
  color: #08f;
}
.icon-baidu:before {
  content: "\eaa5";
  color: #2319dc;
}
.icon-skype:before {
  content: "\eaa6";
  color: #00aff0;
}
.icon-ebay:before {
  content: "\eaa7";
  color: #e53238;
}
.icon-glassdoor:before {
  content: "\eaa8";
  color: #0caa41;
}
.icon-micro-dot-blog:before {
  content: "\eaa9";
  color: #fd8308;
}
.icon-wordpress:before {
  content: "\eaaa";
  color: #21759b;
}
.icon-dot-net:before {
  content: "\eaab";
  color: #5c2d91;
}
.icon-circleci:before {
  content: "\eaac";
}
.icon-viadeo:before {
  content: "\eaad";
  color: #f88d2d;
}
.icon-atom:before {
  content: "\eaae";
  color: #66595c;
}
.icon-pandora:before {
  content: "\eaaf";
  color: #005483;
}
.icon-sublimetext:before {
  content: "\eab0";
}
.icon-graphql:before {
  content: "\eab1";
  color: #e10098;
}
.icon-nginx:before {
  content: "\eab2";
  color: #269539;
}
.icon-adobecreativecloud:before {
  content: "\eab3";
  color: #d41818;
}
.icon-go:before {
  content: "\eab4";
  color: #76e1fe;
}
.icon-staticman:before {
  content: "\eab5";
}
.icon-adobeacrobatreader:before {
  content: "\eab6";
  color: #ee3f24;
}
.icon-apple:before {
  content: "\eab7";
  color: #999;
}
.icon-launchpad:before {
  content: "\eab8";
  color: #f8c300;
}
.icon-netflix:before {
  content: "\eab9";
  color: #e50914;
}
.icon-smashingmagazine:before {
  content: "\eaba";
  color: #e85c33;
}
.icon-digitalocean:before {
  content: "\eabb";
  color: #0080ff;
}
.icon-leetcode:before {
  content: "\eabc";
  color: #f89f1b;
}
.icon-neo4j:before {
  content: "\eabd";
  color: #008cc1;
}
.icon-storify:before {
  content: "\eabe";
  color: #3a98d9;
}
.icon-typo3:before {
  content: "\eabf";
  color: #ff8700;
}
.icon-visualstudiocode:before {
  content: "\eac0";
  color: #007acc;
}
.icon-reverbnation:before {
  content: "\eac1";
  color: #e43526;
}
.icon-makerbot:before {
  content: "\eac2";
  color: #ff1e0d;
}
.icon-conekta:before {
  content: "\eac3";
  color: #414959;
}
.icon-behance:before {
  content: "\eac4";
  color: #1769ff;
}
.icon-applemusic:before {
  content: "\eac5";
}
.icon-flickr:before {
  content: "\eac6";
  color: #0063dc;
}
.icon-mixer:before {
  content: "\eac7";
  color: #002050;
}
.icon-compropago:before {
  content: "\eac8";
  color: #00aaef;
}
.icon-upwork:before {
  content: "\eac9";
  color: #6fda44;
}
.icon-coursera:before {
  content: "\eaca";
  color: #2a73cc;
}
.icon-castro:before {
  content: "\eacb";
  color: #00b265;
}
.icon-bathasu:before {
  content: "\eacc";
  color: #00a3e0;
}
