$font-size : 14px;

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/roboto-regular.eot');
  src: url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('../fonts/roboto-regular.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/roboto-regular.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/roboto-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/roboto-bold.eot');
  src: url('../fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('../fonts/roboto-bold.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/roboto-bold.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/roboto-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/roboto-light.eot');
  src: url('../fonts/roboto-light.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('../fonts/roboto-light.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/roboto-light.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/roboto-light.ttf') format('truetype');
}

// Required
@import "../components/bootstrap/scss/functions";
@import "../components/bootstrap/scss/variables";
@import "../components/bootstrap/scss/mixins";
// Optional
@import "../components/bootstrap/scss/reboot";
@import "../components/bootstrap/scss/type";
@import "../components/bootstrap/scss/grid";
@import "../components/bootstrap/scss/utilities";
@import "../components/bootstrap/scss/utilities/flex";
@import "../components/bootstrap/scss/progress";
@import "../components/bootstrap/scss/buttons";


@import 'icons.scss';

body.home {
  font-family: 'Roboto';
  background: #000000 url('../images/back.jpg') 60% top/cover no-repeat scroll;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  font-size: $font-size;
  padding: 50px 0;

  &::before {
    content: "";
    border: 10px solid #fff;
    background-color: rgba(#0b33b1, .1);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  >.container {
    position: relative;
    z-index: 10;
  }

  .main-title {
    text-align: center;
    font-size: #{60px / $font-size}rem;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 30px;
    color: transparent;
    
    span {
      color: white;
      display: inline-block;
  
      &.space {
        display: block;
      }
    }
  }
  
  .socials {
    list-style: none outside outside;
    text-align: center;
    padding-left: 0;
  
    li {
      display: inline-block;
      font-size: #{20px / $font-size}rem;
      margin: 0 2px;
    }
  
    a {
      display: inline-block;
      text-decoration: none;
      color: #fff;
      border-radius: 5px;
      padding: 3px 8px 0px 8px;
      line-height: 1.2;
      transition: background-color .5s ease;
      opacity: 0;
  
      i {
        transition: padding .3s .1s ease;
      }
  
      i::before {
        vertical-align: baseline;
        color: rgba(#fff, .6);
        transition: color .5s ease;
      }
  
      span {
        display: inline-block;
        max-width: 0;
        overflow: hidden;
        vertical-align: baseline;
        font-size: #{18px / $font-size}rem;
        transition: max-width .5s ease;
      }
  
      @media (min-width: #{map-get($grid-breakpoints, md)}) {
        &:hover {
          background-color: rgba(#000, .3);
  
          i {
            padding-right: 10px;
  
            &::before {
              color: rgba(#fff, 1);
            }
          }
  
          span {
            max-width: 100px;
          }
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  // left: 0;
  // background: #fff;
  // display: flex;
  // flex-flow: column nowrap;
  // justify-content: center;
  z-index: 100;
  width: 100%;

  .overlay-layer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
  
  .overlay-layer:nth-child(1) {
    background-color: #181B2C;
  }
  
  .overlay-layer:nth-child(2) {
    background-color: #26283F;
  }

  .overlay-layer:nth-child(3) {
  }

  &.hide .overlay-layer {
    animation-play-state: running;
  }
  
  & .overlay-layer {
    animation: anim-effect-3-3 1.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
    animation-play-state: paused;
  }
  
  & .overlay-layer:nth-child(2) {
    animation-name: anim-effect-3-2;
  }
  
  & .overlay-layer:nth-child(3) {
    animation-name: anim-effect-3-1;
  }
  
  .loading {
    text-align: center;
    font-size: #{60px / $font-size}rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #f0f0f0;
  }

  .loading-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
}

$accent-color: #AE3DED;

.landing-soldiership {
  font-family: 'Roboto';
  min-height: 100vh;
  background-image: linear-gradient(90deg, $accent-color, $accent-color + 10%);
  
  .remain-days {
    font-size: 210px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 0;
    color: #ffffff;
  }
  
  .desc,
  .footnote {
    font-weight: 200;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    letter-spacing: 5px;
  }

  .desc {
    letter-spacing: 15px;
    font-size: 25px;
    margin-bottom: 30px;
  }

  .progress {
    height: 1px;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .progress-bar {
    transition: none;
    background-color: #ffffff;
  }

  #particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.landing-projects {
  padding: 150px 0;
  background-color: #ffffff;

  .h1 {
    text-transform: uppercase;
  }

  .lead {
    font-size: 16px;
    text-transform: uppercase;
    color: map-get($colors, 'gray');
    margin-bottom: 150px;

    &::after {
      content: ' ';
      display: block;
      max-width: 150px;
      height: 1px;
      background-color: #ececec;
      margin: 10px auto;
    }
  }

  .project-block {
    display: block;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: $grid-gutter-width;
    background-color: #e7e7e7;
    // box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.178);
    
    &::before {
      content: "";
      display: block;
      padding-top: (100% * 3/2);
    }
    
    .project-img {
      position: absolute;
      margin: 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      
      img {
        object-fit: cover;
        width: 100%;
        min-height: 100%;
        opacity: 0.85;
      }
    }
  }

  .projects {
    .col:nth-child(even) {
      margin-top: 80px;
    }
  }
}

.landing-achievement {
  margin-top: 60px;
}

.landing-review {
  margin-top: 60px;
  background-color: #ededed;

  h1 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 40px;
    // text-transform: uppercase;
    color: #856E85;
  }

  .review-container {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 35px;
    position: relative;
    border-radius: 5px;

    .avatar {
      position: absolute;
      right: 100%;
      width: 160px;
      height: 160px;
      border: 10px solid #fff;
      transform: translateX(50%);
      border-radius: 1000px;
      overflow: hidden;

      .upload-btn {
        height: 140px;
        line-height: 140px;
        text-align: center;
        font-size: 12px;
        background-color: #EDEDED;
        color: #5c5c5c;
      }
      
      img {
        // display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:hover {
          opacity: .6;
        }
      }

      &.not-empty {
        .upload-btn {
          opacity: 0;
          &:hover {
            opacity: 0.9;
          }
        }
      }

    }

    form {
      margin-left: (150px/2)-10;
    }

    input, textarea {
      background-color: #ededed;
      border: none;
      display: block;
      padding: 10px 15px;
      width: 100%;
      border-radius: 5px;
      margin-bottom: 20px;
    }

    .btn {
      border-radius: 1000px;
      padding: 8px 45px;
    }

    .rating {
      input {
        display: none;
        width: 0;
        height: 0;
        // visibility: hidden;
        &:checked ~ label {
          background-color: #ededed;
        }
      }

      label {
        vertical-align: middle;
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #375abb;
        border-radius: 50%;
      }
    }
  }
}

@media (min-width: #{map-get($grid-breakpoints, md)}) {
  body.home {
    background-position-x: center;
    
    .main-title {
      font-size: #{120px / $font-size}rem;
      letter-spacing: -5px;
      span.space {
        display: inline-block;
      }
    }
  }
  .overlay .loading {
    font-size: #{120px / $font-size}rem;
  }
}

@keyframes anim-effect-3-1 {
	0% {
		transform: translate3d(0, 0, 0);
	}
	25%, 75% {
		transform: translate3d(0, -100%, 0);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	100% {
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-3-2 {
	0%, 12.5% {
		transform: translate3d(0, 0, 0);
	}
	37.5%, 62.5% {
		transform: translate3d(0, -100%, 0);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	87.5%, 100% {
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-3-3 {
	0%, 25% {
		transform: translate3d(0, 0, 0);
		animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	}
	75%, 100% {
		transform: translate3d(0, -200%, 0);
	}
}
